.<%= compnameSingular %>-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 Here are the details of the <%=compnameSingular%>
    form.md-whiteframe-z1(name='form', ng-submit='save()', layout-padding='')
      md-input-container
        label Name
        input(ng-model='<%= compnameSingular %>.name', placeholder='Name')
      div(layout='row')
        input.md-button(type='submit', value='Save')
        md-button(ng-click='reset()') Reset
        md-button(ng-href='/<%= compname %>') Cancel
  span(flex='')