.main(layout='row')
  span(flex='')
  div(layout='column')
    h1 Things
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      p Add a thing
      md-input-container
        label Name
        input(ng-model='newThing.name', placeholder='Name')
      input.md-button(type='submit', value='Add')
    <% if(pagination) {%>div(layout='row', layout-padding='')
      md-input-container(flex='65')
        label Search
        input(type='search', ng-model='search', placeholder='Search')
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending
<% } %>
    ul
<% if(pagination) { %>      li(dir-paginate='thing in things | itemsPerPage: perPage', total-items='thingsCount.count',  current-page='page')
        p {{ thing.name }}
          button(ng-click='remove(thing)') &times;
    dir-pagination-controls(on-page-change='pageChanged(newPageNumber)')
<% } else { %>      li(ng-repeat='thing in things')
        p {{thing.name}}
          button(ng-click='remove(thing)') &times;
<% } %>
    p Total number of things: {{<% if(pagination) {%>thingsCount.count<% } else { %>things.length<% } %>}}
  span(flex='')