.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') <%= appname %>
      
    .navbar-main.navbar-collapse.collapse(collapse='!isCollapsed')
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/about') About<% if(auth) { %>
        li
          login-buttons<% } %>
