.main
  h1 Things
  form(ng-submit='save()', name='form', novalidate='')
    p Add a thing
    div
      label Name
      input(ng-model='newThing.name', placeholder='Name')
    input(type='submit', value='Add')
  <% if(pagination) {%>.controls
    div
      label Search
      input(type='search', ng-model='search', placeholder='Search')
    select(ng-model='orderProperty')
      option(value='1') Ascending
      option(value='-1') Descending
  ul
    li(dir-paginate='thing in things | itemsPerPage: perPage', total-items='thingsCount.count')
      p {{ thing.name }}
        button(ng-click='remove(thing)') &times;
  dir-pagination-controls(on-page-change='pageChanged(newPageNumber)')
<% } else { %>    li(ng-repeat='thing in things')
      p {{thing.name}}
        button(ng-click='remove(thing)') &times;
<% } %>
  p Total number of things: {{<% if(pagination) {%>thingsCount.count<% } else { %>things.length<% } %>}}
span(flex='')