.tabs-striped.tabs-background-positive.tabs-color-light
  .tabs
    a.tab-item(href='/', ng-class="{active:getState()==='main'}")
      i.icon.ion-home
    a.tab-item(href='/about', ng-class="{active:getState()==='about'}")
      i.icon.ion-information-circled
